.editor {
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
  padding: 10px;
  tab-size: 4;
  position: relative;
}

.editor::before {
  content: "...";
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 12px;
  color: rgb(203, 215, 227);
  border-bottom-left-radius: 6px;
  background-color: #666;
}
.editorOld::before {
  content: "Your old ugly JS";
  background-color: rgb(157, 70, 64);
}
.editorNew::before {
  content: "Nice modern JS";
  background-color: rgb(76, 157, 64);
}
